@import url('https://fonts.cdnfonts.com/css/roboto');

/* 
font-family: 'Roboto', sans-serif;
font-family: 'Roboto Thin', sans-serif;
font-family: 'Roboto Light', sans-serif;
font-family: 'Roboto Medium', sans-serif;
font-family: 'Roboto Black', sans-serif;
*/

.up{
    background-color: #939878;
    display: flex;
    align-items: center;
}

.up p{
    font-family: 'Roboto', sans-serif;
    color: white;
    justify-self: center;
    padding-left: 810px;
    font-size: 14px;
}

.up img{
    font-family: 'Roboto', sans-serif;
    color: white;
    justify-self: end;
    padding-left: 740px;
}

nav {
    display: flex;
    padding: 0 80px;
    gap: 32px;
    justify-content: space-between;
}

nav div.logo {
    display: flex;
    align-items: center;
    gap: 8px;
}

nav div.logo p {
    font-family: 'Roboto Medium', sans-serif;
    color: black;
}

nav div.logo div.logoimg {
    height: 32px;
    width: 32px;
    border: 1px solid #CF6F49;
    background-color: #CF6F49;
    border-radius: 30%;
}

nav header {
    display: flex;
    padding: 0 80px;
    gap: 32px;
}

nav header p {
    font-family: 'Roboto', sans-serif;
    color: black;
    font-size: 16px;
}

nav header div.properties {
    display: flex;
    gap: 5px;
}

nav header div.properties img{
    padding-top: 2px;
    width: 20%;
}

nav header article div.cart {
    display: flex;
    gap: 8px;
    padding: 0 21px;
    border: 1px solid rgb(223, 223, 223);
    border-radius: 6px;
}

nav header article div.findproperty {
    display: flex;
    gap: 8px;
    padding: 0 21px;
    border: 1px solid #CF6F49;
    background-color: #CF6F49;
    border-radius: 6px;
}

nav header article div.findproperty p{
    color: white;
}

nav header article {
    display: flex;
    gap: 16px;
}